[submodule "3rd_party/vim-pathogen"]
	path = 3rd_party/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "3rd_party/tagbar"]
	path = 3rd_party/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "3rd_party/tagbar-phpctags"]
	path = 3rd_party/tagbar-phpctags
	url = https://github.com/vim-scripts/tagbar-phpctags.git
[submodule "3rd_party/nerdtree"]
	path = 3rd_party/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "3rd_party/nerdcommenter"]
	path = 3rd_party/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "3rd_party/syntastic"]
	path = 3rd_party/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "3rd_party/vim-fugitive"]
	path = 3rd_party/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "3rd_party/javascript-ctags"]
	path = 3rd_party/javascript-ctags
	url = https://github.com/andersjanmyr/javascript-ctags.git
[submodule "3rd_party/markdown2ctags"]
	path = 3rd_party/markdown2ctags
	url = https://github.com/jszakmeister/markdown2ctags.git
