"
" Fish isn't POSIX compliant
" and many vim commands expect it.
" Switch shells in vim to avoid errors.
"
if &shell =~# 'fish$'
   set shell=sh
endif

"
" Enable mouse support
"
set mouse=a

"
" If we're running in a terminal manager,
" we may need to alter how mouse support is provided.
"
if &term=~'^screen'
    set ttym=xterm
endif

"
" And now add pathogen!
"
execute pathogen#infect()

"
" Borrowing the basic VIMRC from the "ultimate vimrc".
"
source ~/.vim/amx-vimrc-extended.vim
source ~/.vim/amx-vimrc-filetypes.vim
autocmd QuickFixCmdPost *grep* cwindow

"
" File encodings
"
set fileencodings=utf-8,default,latin1

autocmd BufNewFile,BufRead *.php set filetype=php
autocmd BufNewFile,BufRead *.sql set filetype=sql
autocmd BufNewFile,BufRead *.yml set filetype=yaml
autocmd BufNewFile,BufRead *.yaml set filetype=yaml
autocmd BufNewFile,BufRead *.md set filetype=markdown
autocmd BufNewFile,BufRead *.xml set filetype=xml
autocmd BufNewFile,BufRead *.js set filetype=javascript
autocmd BufNewFile,BufRead *.htm* set filetype=html
autocmd BufNewFile,BufRead *.conf set filetype=conf


"
" How many entries to keep in history
"
set history=10

"
" Add special configuration for plugins
"
let g:tagbar_phpctags_bin='~/.vim/.bin/phpctags'
let g:tagbar_phpctags_memory_limit='128M'
" Add support for markdown files in tagbar.
let g:tagbar_type_markdown = {
    \ 'ctagstype': 'markdown',
    \ 'ctagsbin' : '.bin/markdown2ctags.py',
    \ 'ctagsargs' : '-f - --sort=yes',
    \ 'kinds' : [
        \ 's:sections',
        \ 'i:images'
    \ ],
    \ 'sro' : '|',
    \ 'kind2scope' : {
        \ 's' : 'section',
    \ },
    \ 'sort': 0,
\ }
" Add support for CSS:
" Requires a modified version of CTAGS
let g:tagbar_type_css = {
\ 'ctagstype' : 'Css',
    \ 'kinds'     : [
        \ 'c:classes',
        \ 's:selectors',
        \ 'i:identities'
    \ ]
\ }
" Add XML support
let g:tagbar_type_xquery = {
    \ 'ctagstype' : 'xquery',
    \ 'kinds'     : [
        \ 'f:function',
        \ 'v:variable',
        \ 'm:module',
    \ ]
\ }

"
" Folding settings
"
set foldmethod=indent   "fold based on indent
set foldnestmax=10      "deepest fold is 10 levels
set nofoldenable        "dont fold by default
set foldlevel=1         "this is just what i use

"
" Disable line numbers on the left.
"
set nonumber

nmap <F8> :TagbarToggle<CR>
